---
--- 
@import 'variables';
@import 'bulma';
@import 'font-awesome';
#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}

#site .footer {
  padding: 2rem 0;
  background-color: #ffffff;
}

.site-myname.title {
  font-size: 5rem;
}

.fa.text-icon {
  vertical-align: middle;
}

.content h2.is-home {
  font-weight: 300;
}

.m-vertical-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.m-b-1-25 {
  margin-bottom: 1.25rem;
}

.h-logo {
  font-style: italic;
  font-weight: 800;
  line-height: 1;
}

.fa.fa-external-link {
  font-size: 1rem;
}

.post-container .tag {
  position: relative;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}

#wrapper .hero.is-light {
  background-color: #ffffff;
}

.hero-body a {
  color: #363636;
}